.contenidoprim{
   padding: 0px;
}
.menuprim{
   border: 0px solid; box-shadow:  1px 0px 10px #888888;

}
/*.menuprim a{
   color: #fd7e14;
   text-decoration: none;
   cursor: default;
}

.menuprim a:hover{
   color: #AEB3B2;
}*/

.vertical-menu a {
   color: black;
   padding-top: 10px;
   padding-bottom: 10px;
   text-decoration: none;
   cursor: default;
   padding-left: 15px;
}

.vertical-menu a:hover {
   background: #eee;
}

/*.menuv a.active {
   background-color: #DFDDDE;
}*/
.menuv{
   width: 100%;
   padding: 0px; margin: 0px;
}
.tit{
   padding-left: 5px;
   padding-bottom: 15px;
   padding-top: 15px;
}

@media (min-width: 490px) and (max-width: 992px) {
   .menuv{
      display: block;
   }
   .peq{
     width: 100%;
   }
}

@media (min-width: 1020px){
   .menuv{
      display: block;
   }
   .peq{
     width: 100%;
   }
}


/***********************MENU 2***************************/
.itm li a{ color: #fff; text-decoration: none; cursor: default; }/*padding-top: 10px; padding-bottom: 10px; font-size: 20px;*/
.itm li a:hover{ background:#435062; }
.itm { background: rgb(27, 54, 71);/*background: #53657E;*/ /*#5E6F76;*/ }
.nav .active { background:#435062; }


/*.itm ul {
   max-width: 1240px;
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 1.5em;
   font-weight: 300;
}*/

.itm li span {
   display: block;
   text-align: center;
}

/*.itm a {
   display: block;
   color: rgba(249, 249, 249, .9);
   text-decoration: none;
   transition: color .5s, background .5s, height .5s;
}*/

/*.itm i{
   transform: translate3d(0, 0, 0);
}*/

